[Unit]
Description=Revisa cada 5 minutos si el sol esta en el encuadre de la camara

[Timer]
OnBootSec=4min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
